/* ModalStyle.css */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button.deletebtn {
    background-color: #dc3545;
}

button.deletebtn:hover {
    background-color: #c82333;
}
button.closebtn {
    background-color: #6a6163;
}

button.closebtn:hover {
    background-color: #272223;
}


h2 {
    color: #333;
    margin-bottom: 20px;
}

.modal-content button {
    margin: 5px;
}
