#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p {
  color: white !important; /* Forcing white text color */
}
